@import "./_backgrounds.scss";

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.v-ripple__container {
  display: none !important;
}

.theme--light.v-btn--active:before {
  opacity: 0;
}
